<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="PreIRMAConnectionString" connectionString="server=192.168.2.13;port=3306;uid=root; pwd=Anvesh123;Database=PreIRMA_Dev"/>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!-- Mail Configurations -->
    <add key="SMTP_SERVERNAME" value="smtp.gmail.com" />
    <add key="SMTP_SERVERPORT" value="587" />
    <add key="SMTP_EMAILFROM" value="support@anveshtech.com" />
    <add key="SMTP_EMAILFROMPASSWORD" value="Anvesh@234" />
    <add key="SUPERADMIN_EMAILADDRESS" value="support@anveshtech.com" />
    <add key="SMTP_SMTPEmailCC" value="sridevit62@gmail.com"/>
    <add key="SMTP_SMTPEmailARS" value="mbecker@adaptiverisksystems.com" />
    <add key="SMTP_SMTPEmailIRMA" value="support@adaptiverisksystems.com"/>
    <add key ="SMTP_SMTPPHNNO" value="+1-919-576-5899"/>
    <add key="Version" value="Ver 1.0"/>
    <add key="SMTP_IRMAVERSION" value="Ver 1.0"/>
  </appSettings>

  <system.web>
    <sessionState timeout="20"></sessionState>
    <httpRuntime targetFramework="4.5" />

    <compilation debug="true" targetFramework="4.5" />

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />

    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>
